
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enroll Election</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">


</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">
        <div class="container">
        <a href="/" class="navbar-brand">
        <!-- <i class="fas fa-blog"></i> &nbsp; -->
        BallotChain
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>


    

       
    </div>
</nav>
<div class="container ">
    {% for message in messages %}
    <div class="container-fluid pt-5 ">
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
    <div class="row mt-2 pt-5">

        <h2> Candidates </h2>
        {% for candidate in candidates %} 
        <div class="col-md-4 col-xs-2 col-lg-4 ">
            <div class="card mt-4">
                <h5 class="card-header">{{candidate.first_name}} {{candidate.last_name}}</h5>
                <div class="card-body">
                  <h5 class="card-title badge bg-primary text-wrap">Enrolled Election: {% if candidate.enrolled_election %} {{candidate.enrolled_election.title}} {% else %} None {% endif %} </h5>
                  <p class="card-text">Select election to enroll candidate</p>
                  <form  method="post"  class="form-class">
                      {% csrf_token %}
                      <input type="hidden" name="candidate_id" value={{candidate.id}}>
                    <select name="election_id" id="" class="form-select">
                        {% if candidate.enrolled_election %}
                            <option value={{candidate.enrolled_election.id}}  >{{candidate.enrolled_election.title}} </option>
                        {% else %} 
                            <option value="" disabled selected>Select Election</option>
                        {% endif %}
                        {% for election in elections %} 
                                {% if candidate.enrolled_election.title != election.title %}
                                    <option value={{election.id}}  >{{election.title}} </option>
                            {% endif %}
                        {% endfor %}
                        
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Enroll</button>
                </form>
                  
                </div>
              </div>
        </div>
        {% endfor %}
        
    </div>
</div>


  

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>



 