*.pyc
__pycache__/
migrations/
migrations
stacticcdn
.idea/
db.sqlite3
.idea
media/
staticcdn/
.vscode/
venv/
build/
logs/
.DS_Store/
.DS_Store
.cpython-37.pyc
systemLogs/
debug.txt
.history
.history/


