db_name: ''
db_username: 'root'
db_password: ''
db_host: 'localhost'
db_port: '3306'
db_engine: 'django.db.backends.mysql'
DEBUG: True
ALLOWED_HOSTS: ['*']
INFURA_PROVIDER: 'https://rinkeby.infura.io/v3/'
INFURA_PROJECT_ID: ''
ETH_ADRESS_ADMIN: ''
HOST_PRIVATE_KEY: ''